# Local development
DEBUG=True
USE_SQLITE=True
SQLITE_DB_NAME=db.sqlite3

# Production / hosted environments
# DEBUG=False
# USE_SQLITE=False
# DATABASE_URL=postgresql://user:password@host/database

# PostgreSQL database settings
DB_NAME=hustlebuddy
DB_USER=postgres
DB_PASSWORD= #to add own DB password from postgreSQL
DB_HOST=localhost
DB_PORT=5432

# Default local testing: print emails in terminal
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@hustlebuddy.local

# Optional Gmail SMTP:
# Uncomment and fill these in only if you want to test real email sending.
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=your-email@gmail.com
# EMAIL_HOST_PASSWORD=your-gmail-app-password
# DEFAULT_FROM_EMAIL=your-email@gmail.com
