# Local development
DEBUG=True
USE_SQLITE=True
SQLITE_DB_NAME=db.sqlite3

# Production / hosted environments
# DEBUG=False
# USE_SQLITE=False
# DATABASE_URL=postgresql://user:password@host/database

# PostgreSQL database settings
DB_NAME=hustlebuddy
DB_USER=postgres
DB_PASSWORD= #to add own DB password from postgreSQL
DB_HOST=localhost
DB_PORT=5432

# Gmail settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@hustlebuddy.local
